.container-fluid {
  margin: 0;
  padding: 0;
}

.scrollable {
  margin: 0;
  padding: 0;
}

.butnotscrollable {
  overflow: hidden;
}

#TabList {
  background: white;
  position: fixed;
  left:0;
  right: 50%;
  z-index: 100;
}

#TabContent {
  padding-top: 4em;
}

#Status {
  font-size: inherit;
  padding: 10px;
}

.tab-content {
  padding: 10px;
}

.on-top {
  z-index: 1000;
}

.thatannoyingbutton {
  position: absolute;
  right: 0;
}
