body {
  padding-top: 50px;
}

* {
  border-radius: 0 !important;
}

h1 br {
  display: none;
}

.pc-icon {
  background: url('../assets/pc32sw.png') no-repeat 10px center;
  padding-left: 50px;
}

.pc-icon:hover {
  background-image: url('../assets/pc32.png');
}

#detector-holder {
  margin-left: -15px;
  margin-right: -15px;
}

#detector {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

#detector canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#detector-core {
   z-index: 0;
}

#detector-events {
   z-index: 1;
}

.scrollable {
  overflow: auto;
}

#achievements-container {
  position: fixed; bottom: 0px; left: 0px;
}

#messages-container {
  position: fixed; bottom: 0px; right: 0px;
}

#achievements-container .alert,
#messages-container .alert {
  margin-bottom: 10px; position: relative;
}

#achievements-container .alert-glyph,
#messages-container .alert-glyph {
  float:left; font-size: 20px; margin-right: 10px;
}

#achievements-container .alert-text,
#messages-container .alert-text {
  font-size: 14px;
}

#achievements-container .alert-text {
  font-weight: bold;
}

#messages-container .btn {
  float:right; font-weight: bold;
}

.status strong {
  color: #666;
}

.update-value {
  position: relative;
}

.update-plus {
  color: green;
  float: left;
  right: 5px;
  position: absolute;
}

.update-minus {
  color: red;
  float: left;
  right: 5px;
  position: absolute;
}

#labname {
  border: 0px;
  padding: 0 4px;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1;
  width: 99%;
}

.panel {
  margin-bottom: 0;
}

.prevent-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


/** Annoying blink effect to get user's attention. */
.blink {
  animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  -webkit-animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0.25; }
}

@-webkit-keyframes blinker {
  from { opacity: 1; }
  to {
    opacity: 0.25;
    background: #f00;
    border-color: #900;
  }
}

/** Responsive **/
@media (min-width: 992px) {
  .col-no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  .panel-stick,
  .panel-stick .panel-heading,
  .panel-stick .panel-body {
    border-right: 0;
  }

  .status {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .col-no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  .panel-stick,
  .panel-stick .panel-heading,
  .panel-stick .panel-body {
    border-right: 0;
  }

  .status {
    font-size: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .col-md-3s {
    width:20%;
  }

  .col-md-5s {
    width:40%;
  }
}
