* {
  border-radius: 0 !important;
}

h1 br {
  display: none;
}

#detector {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px;
}

#detector canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#detector-core {
   z-index: 0;
}

#detector-events {
   z-index: 1;
}

#ResearchHist {
  margin: 20px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scrollable {
  overflow: auto;
  padding-top: 50px;
}

#achievements-container {
  position: fixed; bottom: 0px; left: 0px;
}

#messages-container {
  position: fixed; bottom: 0px; right: 0px;
}

#achievements-container .alert,
#messages-container .alert {
  margin-bottom: 10px; position: relative;
}

#achievements-container .alert-glyph,
#messages-container .alert-glyph {
  float:left; font-size: 20px; margin-right: 10px;
}

#achievements-container .alert-text,
#messages-container .alert-text {
  font-size: 14px;
}

#achievements-container .alert-text {
  font-weight: bold;
}

#messages-container .btn {
  float:right; font-weight: bold;
}

#Status {
  font-size: x-large;
}

#Status strong {
  color: #666;
}

.update-value {
  position: relative;
}

.update-plus {
  color: green;
  float: left;
  right: 5px;
  position: absolute;
}

.update-minus {
  color: red;
  float: left;
  right: 5px;
  position: absolute;
}

#labname {
  border: 0px;
  padding: 0 4px;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1;
  width: 99%;
}
