* {
  border-radius: 0 !important;
}

h1 br {
  display: none;
}

#InfoBox {
  background: rgba(255, 255, 255, .5);
  color: #666;
  position: fixed;
  right: 40px;
  bottom: 0;
  padding: 5px;
  max-width: 200px;
}

#detector {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px;
}

#detector canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#detector-core {
   z-index: 0;
}

#detector-events {
   z-index: 1;
}

#ResearchHist {
  margin: 20px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scrollable {
  overflow: auto;
}

#HR .media-object,
#Upgrades .media-object {
  display: none;
}

@media screen and (min-width: 1400px) {
  #HR .media-object,
  #Upgrades .media-object {
    display: block;
  }
}
