<!DOCTYPE html>
<html lang="en" ng-app="particleClicker">
  <head>
    <title>Particle Clicker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta property="og:title" content="Particle Clicker">
    <meta property="og:type" content="game">
    <meta property="og:description" content="An addictive incremental game that was made during the CERN Webfest 2014. It takes the player on a historic journey through modern particle physics.">
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/8345868">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="assets/mobile/icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/mobile/icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/mobile/icon@2x.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/mobile/icon-72@2x.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mobile.css">

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
    <!-- End Google Analytics -->
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-xs-6 scrollable">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#research" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>
          <li><a href="#hr" role="tab" data-toggle="tab"><i class="fa fa-group"></i></a></li>
          <li><a href="#upgrades" role="tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
          <li><a href="#achievements" role="tab" data-toggle="tab"><i class="fa fa-trophy"></i></a></li>
          <li><a href="#save" role="tab" data-toggle="tab"><i class="fa fa-floppy-o"></i></a></li>
          <li><a href="#about" role="tab" data-toggle="tab"><i class="fa fa-info"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Research -->
          <div class="tab-pane active" id="research" ng-controller="ResearchController as rc">
            <ul class="media-list" ng-cloak>
              <li class="media" ng-repeat="r in rc.research" ng-show="r.is_visible()">
                <img ng-show="r.level > 0" class="pull-left" class="media-object" src="{{ r.image }}" alt="">
                <img ng-hide="r.level > 0" class="pull-left" class="media-object" src="assets/icons/png/unknown.png" alt="">
                <div class="media-body">
                  <h4 class="media-heading">{{ r.level > 0 ? r.name : '?????' }} <span ng-show="r.level > 0" class="badge">Level {{ r.level }}</span></h4>
                  <p ng-show="r.level > 0">{{ r.description }} Researching it will give you {{ r.reputation | niceNumber }} reputation.</p>
                  <div class="btn-group">
                  <button class="btn btn-primary" ng-disabled="!r.is_available()" ng-click="rc.doResearch(r)">Research <small>({{ r.cost | niceNumber }} data)</small></button>
                  <button class="btn btn-info" ng-show="r.level > 0" ng-click="r.showInfo()"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
                </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- HR -->
          <div class="tab-pane" id="hr" ng-controller="HRController as hrc">
            <ul class="media-list" ng-cloak>
              <li class="media" ng-repeat="w in hrc.workers" ng-show="w.is_visible()">
                <div class="media-body">
                  <h4 class="media-heading">{{ w.name }} <span ng-show="w.hired > 0" class="badge">{{ w.hired | niceNumber }}</span></h4>
                  <p ng-show="w.hired > 0">{{ w.description }} They produce {{ w.rate | niceNumber }} data per second.</p>
                  <button class="btn btn-primary" ng-disabled="!w.is_available()" ng-click="hrc.hire(w)">Hire <small>({{ w.cost | currency }})</small></button>
                </div>
              </li>
            </ul>
          </div>
          <!-- Upgrades -->
          <div class="tab-pane" id="upgrades" ng-controller="UpgradesController as uc">
            <ul class="media-list" ng-cloak>
              <li class="media" ng-repeat="u in uc.upgrades" ng-show="u.is_visible()">
                <div class="media-body">
                  <h4 class="media-heading">{{ u.name }}</h4>
                  <p>{{ u.description }}</p>
                  <button class="btn btn-primary" ng-disabled="!u.is_available()" ng-click="uc.upgrade(u)">Buy <small>({{ u.cost | currency }})</small></button>
                </div>
              </li>
            </ul>
          </div>
          <!-- Achievements -->
          <div class="tab-pane" id="achievements" ng-controller="AchievementsController as ac">
            <p class="text-center"><strong>Progress</strong> <span class="label label-info">{{ ac.achievements.length }} / {{ ac.achievementsAll.length }}</span></p>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="a in ac.achievements | reverse">
                <span class="badge">{{ a.time }}</span>
                <span class="glyphicon {{ a.icon }}"></span>
                  {{ a.description }}
              </li>
            </ul>
          </div>
          <!-- Save -->
          <div class="tab-pane" id="save" ng-controller="SaveController">
            <p class="lead">Last saved: <span ng-cloak>{{ lastSaved | date : 'H:mm:ss' }}<span></p>
            <p><button class="btn btn-primary" ng-click="saveNow()"><i class="fa fa-floppy-o"></i> Save now!</button></p>
            <p><button class="btn btn-danger" ng-click="restart()"><i class="fa fa-refresh"></i> Restart</button></p>
          </div>
        <!-- About -->
          <div class="tab-pane" id="about">
            <div class="btn-group pull-right">
              <a class="btn btn-default" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcern.ch%2Fparticle-clicker&t=Particle%20Clicker" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-default" href="https://twitter.com/share?url=http%3A%2F%2Fcern.ch%2Fparticle-clicker&t=Particle%20Clicker&text=Particle%20Clicker%3A%20An%20addictive%20incremental%20game%20that%20was%20made%20during%20the%20CERN%20Webfest%202014.%20%23particleclicker" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-default" href="https://plus.google.com/share?url=http%3A%2F%2Fcern.ch%2Fparticle-clicker" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
            </div>
            <h4>Particle Clicker</h4>
            <p class="small">Version: 0.3.1 (mobile-beta)</p>
            <p class="small bg-warning">This is a pre-release. If you encounter any bugs please report them using <a href="https://github.com/particle-clicker/particle-clicker/issues"><i class="fa fa-github"></i> GitHub issues</a>. This game runs best in landscape mode. Performance of the event display may rely heavily on your hardware.</p>
            <p>Particle Clicker is a game that was made during the <a href="https://webfest.web.cern.ch">CERN Webfest 2014</a>. The idea is borrowed from <a href="http://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a>, an amazing and addictive cookie-themed game.</p>
            <img width="200" src="http://www.citizencyberscience.net/wiki/images/1/1b/Cernwebfest.png" alt="">
            <h5>Libraries</h5>
            <p>This game is realised using a few libraries. Those are</p>
            <ul>
              <li><a href="http://angularjs.org">AngularJS</a></li>
              <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
              <li><a href="http://fortawesome.github.io/">Fontawesome</a></li>
              <li><a href="http://jquery.com">jQuery</a></li>
              <li><a href="http://imulus.github.io/retinajs/">retina.js</a></li>
              <li><a href="https://github.com/ftlabs/fastclick">fastclick.js</a></li>
            </ul>
            <h5>Authors</h5>
            <p>Feel free to get in touch with us via GitHub or by shooting us an email. Our addresses all follow the pattern name.surname@cern.ch.</p>
            <ul>
              <li><a href="https://github.com/gbiro">Gabor Biro</a></li>
              <li><a href="https://github.com/ibab">Igor Babuschkin</a></li>
              <li><a href="https://github.com/kdungs">Kevin Dungs</a></li>
              <li><a href="https://github.com/ntadej">Tadej Novak</a></li>
              <li><a href="https://github.com/zhangjiannan">Jiannan Zhang</a></li>
            </ul>
            <h5>Source</h5>
            <p>The source code of this game is freely available on <a href="https://github.com/particle-clicker/particle-clicker"><i class="fa fa-github"></i> GitHub</a> under the terms of an MIT license.</p>
          </div>
        </div> <!-- .tab-content -->
      </div> <!-- .col-xs-6 -->

      <div class="col-xs-6 scrollable butnotscrollable" ng-controller="LabController as lc">
         <div class="row" id="Status" ng-cloak>
          <div class="col-xs-4 text-center">
            <strong>Data</strong>
            <br>
            {{ lc.lab.data | niceNumber }}
            <div class="update-value" id="update-data"></div>
          </div>
          <div class="col-xs-4 text-center">
            <strong>Reputation</strong>
            <br>
            {{ lc.lab.reputation | niceNumber }}
            <div class="update-value" id="update-reputation"></div>
          </div>
          <div class="col-xs-4">
            <span class="text-center"><strong>Funding</strong></span>
            <br>
            {{ lc.lab.money | currency }}
            <div class="update-value" id="update-funding"></div>
          </div>
        </div>
        <button class="pull-right btn btn-info on-top thatannoyingbutton" ng-click="lc.showDetectorInfo()"><span class="glyphicon glyphicon-info-sign"></span></button>
        <div id="detector" ng-controller="DetectorController as dc">
          <canvas id="detector-core" width="400" height="400">
            Your detector. Click on it to generate events.
          </canvas>
          <canvas ng-click="dc.click()" id="detector-events" width="400" height="400" class="prevent-select">
            Your detector. Click on it to generate events.
          </canvas>
        </div>
       
      </div>

    <div class="modal fade" id="infoBox" tabindex="-1" role="dialog" aria-labelledby="infoBoxLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="infoBoxLabel"></h4>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <div class="on-top col-xs-6" id="achievements-container"></div>
    <div class="on-top col-xs-6" id="messages-container"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/external/jquery.cookie-1.4.1.min.js"></script>
    <script src="js/external/retina.js"></script>
    <script src="js/external/fastclick.js"></script>
    <script>
    </script>

    <script src="js/storage.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/analytics.js"></script>
    <script src="js/gameobjects.js"></script>
    <script src="js/event.js"></script>
    <script src="js/detector.js"></script>
    <script src="js/achievements.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/game.js"></script>
  </body>
</html>
